body {
    background-color: cyan;
}
h1 {
    background-color: gold;
    padding: 25px 100px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}
.latin {
    font-size: 45px;
    color: #f08;
    text-align: center;
    padding: auto;
    line-height: 1.2em;
}
#fancy {
    font-style: italic;
}